body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#gameCanvas {
    background: black; /* This will be the background of the canvas, can be replaced in JS */
    width: 100vw;
    height: 100vh;
    display: block;
}

#score, #timer {
    position: absolute;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#score {
    top: 10px;
    left: 10px;
}

#timer {
    top: 10px;
    right: 10px;
}
